body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    width: 630px;   
    height: 540px;  

    background-image: url('mem.jpg'); 
    background-size: cover; 
    background-position: center;

    border: 10px solid black;
    border-radius: 30px; 

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    background-color: white;
    border-radius: 50%;
    border: 5px solid black;
}

h1 {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8); 
    color: #0004ff;                             
    font-size: 80px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    margin: 20px auto;
}



.red-piece {
    background-image: url('DRAKE.png'); 
    background-size: cover; 
    background-position: center;
    background-color: rgba(255, 0, 0, 0.596);
    background-blend-mode: multiply;
    box-shadow: inset -3px -3px 8px rgba(0,0,0,0.4);
}

.yellow-piece {
    background-image: url('PIKA.jpeg'); 
    background-size: cover; 
    background-position: center;
    background-color: rgba(251, 255, 0, 0.438);
    background-blend-mode: overlay;
    box-shadow: inset -3px -3px 8px rgba(0,0,0,0.4);
}


#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
    opacity: 0.8; 
}


.red-winner {
    display: inline-block;
    background-color: rgb(255, 255, 255);     
    color: rgb(250, 0, 0);                  
    font-size: 48px;
    font-weight: bold;
    padding: 10px 20px;            
    border-radius: 10px;          
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3); 
    margin-top: 10px;
    margin-bottom: 10px;
}

.yellow-winner {
    display: inline-block;
    background-color: rgb(255, 255, 255);      
    color: gold;                  
    font-size: 48px;
    font-weight: bold;
    padding: 10px 20px;           
    border-radius: 10px;           
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3); 
    margin-top: 10px;
    margin-bottom: 10px;
}

.tie-message {
    display: inline-block;
    background-color: white;
    color: gray;
    font-size: 48px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    margin-top: 10px;
    margin-bottom: 10px;
}

#resetBtn {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: #0004ff;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

#resetBtn:hover {
    transform: scale(1.05);
}



